<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Angular Test</span>
    <span class="nav-spacer"></span>
    <button mat-raised-button (click)="logout()" color="primary">
      <span>Logout</span>
    </button>
  </mat-toolbar-row>
</mat-toolbar>
<div class="container">
  <div class="row">
    <div class="col-sm-9 col-md-7 mx-auto text-center pt-5">
      <h1>Product List</h1>
      <app-products-filter
        (selectedCategory)="selectedCategory($event)"
        (selectedLimit)="selectedLimit($event)"
        [categorySelected]="category"
        [limitSelected]="limit"
      />

      <app-products-table [productList]="products" />

      @if (!this.loading) {
      } @else {
        <mat-progress-spinner />
      }
    </div>
  </div>
</div>
